body {
    height: 100vh;
    background: url(/img/body_background.png) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}


//==========トップ画面==========//
#top {
    text-align: center;

    //-----#top-title-----//
    #top-title {
        width: auto;
        height: 160px;
        margin: 120px 0 120px 240px;
        align-items: center;
        justify-content: center;
        display: flex;
        .top-title {
            color: #F44B4B;
            background: #FFB5DD;
            font-weight: bold;
            font-size: 4em;
            border-radius: 64px / 40px;
            padding: 32px 24px;
        }//top-title
        .top-img1 {
            transform: rotate(24deg) translateX(-64px) translateY(16px);
            width: auto;
            max-height: 184%;
            display: block;
        }//top-img1  
    }//#top-title
    #top-menu {
        li {
            font-size: 2em;
            background-color: rgba(255, 92, 0, 0.3);
            opacity: 0.3;
            width: auto;
        }//li    
    }//top-menu   
}

//==========メニュー画面==========//
#menu {
    text-align: center;
    #menu-top {
        display: flex;

        //backbutton//
        .backbutton {
            background-color: #ec8dd8;
            border-radius: 8px;
            box-shadow: 0 4px 0 #69004f;
            color: #fff;
            display: block;
            padding: 8px;
            position: relative;
            text-align: center;
            text-decoration: none;
            width: 100%;
            position: absolute;
            left: 0;
            max-width: 120px;
            margin-top: 20px;
            margin-left: 20px;
        }
        .backbutton::after {
            content: '';
            display: inline-block;
            border-style: solid;
            border-width: 8px 0 8px 8px;
            border-color: transparent transparent transparent #fff;
            display: inline-block;
            width: 0;
            height: 0;
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
        }
        //backbutton::after
        .backbutton:active {
            top: 4px;
            box-shadow: 0 0 0 #C62828;
        }
        //backbutton:active

        //mycoin//
        .mycoin {
            display: flex;
            text-align: left;
            margin-top: 20px;
            margin-right: 20px;
            background-color: #fff;
            border: 2px solid #000000;
            border-radius: 10px;
            width: 150px;
            height: 35px;
            position: absolute;
            right: 0;
            .coin {
                width: 40px;
                height: auto;
            }//coin
            p {
                margin: 10px;
            }//p
        }//mycoin
    }

    //#menu-main//
    #menu-main {
        width: 80%;
        height: 60%;
        margin: 6% auto 4%;
        justify-content: space-around;
        display: flex;
        
        .avatar {
            background: #ffffffa1;
            border-radius: 8%;
            border: outset 5px;
        }//avatar

        #select-box {
            background: white;
            border: 4px solid #797979;
            border-radius: 20px;
            width: 60%;
            overflow: hidden;

            //select-btn//
            .select-btn {
                padding: 2% 0 0 2%;
                background: #797979;
                display: flex;
                .s-btn {
                    color: #fff;
                    font-size: 30px;
                    padding: 10px;
                    border-radius: 20px;
                }//s-btn
                @for $i from 1 through 3 {
                    .s-btn:nth-of-type(#{$i}) {
                        background: rgb(255, 20 + $i * 60, 140);
                        border: 4px solid rgb(255, 20 + $i * 60, 140);
                    }
                }

            }//select-btn
            .itemlist {
                background: #797979;
                margin: 30px;
                display: flex;
                .item {
                    width: 20%;
                    background: #ff0000;
                }
            }
        }//select
    }//menu-main
    .start-btn {
        font-size: 40px;
        background: #b77abd;
        color: #fff;
        border-radius: 40px;
        padding: 40px 100px;
        display: inline-block;
    }
}//menu




//==========ガチャ画面==========//
#gacha {

    //-----gacha-top-----//
    #gacha-top {
        display: flex;

        //backbutton//
        .backbutton {
            background-color: #ec8dd8;
            border-radius: 8px;
            box-shadow: 0 4px 0 #69004f;
            color: #fff;
            display: block;
            padding: 8px;
            position: relative;
            text-align: center;
            text-decoration: none;
            width: 100%;
            position: absolute;
            left: 0;
            max-width: 120px;
            margin-top: 20px;
            margin-left: 20px;
        }

        .backbutton::after {
            content: '';
            display: inline-block;
            border-style: solid;
            border-width: 8px 0 8px 8px;
            border-color: transparent transparent transparent #fff;
            display: inline-block;
            width: 0;
            height: 0;
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
        }//backbutton::after
        .backbutton:active {
            top: 4px;
            box-shadow: 0 0 0 #C62828;
        }//backbutton:active

        //mycoin//
        .mycoin {
            display: flex;
            text-align: left;
            margin-top: 20px;
            margin-right: 20px;
            background-color: #fff;
            border: 2px solid #000000;
            border-radius: 10px;
            width: 150px;
            height: 35px;
            position: absolute;
            right: 0;
            .coin {
                width: 40px;
                height: auto;
            }//coin
            p {
                margin: 10px;
            }//p
        }//mycoin
    }//#gacha-top

    h1 {
        margin-top: 50px;
        text-align: center;
        padding: 20px 0;
        color: rgb(77, 52, 52);
        font-size: 50px;
        color: #fff;
        text-shadow: 2px 2px 1px #ff0000,
            -2px 2px 1px #ff0000,
            2px -2px 1px #ff0000,
            -2px -2px 1px #ff0000,
            2px 0px 1px #ff0000,
            0px 2px 1px #ff0000,
            -2px 0px 1px #ff0000,
            0px -2px 1px #ff0000;
    }//h1

    //gacha-main//
    #gacha-main {
        text-align: center;
        position: relative;
        .gacha-machine {
            width: 16%;
            height: auto;
            position: relative;
        }//#gacha-main
        .gacha-capsule {
            width: 6%;
            height: auto;
            text-align: center;
            left: 50%;
            bottom: 0px;
            z-index: 100;
            position: absolute;
            animation: capsuleAnime forwards 2s ease normal;
        }//gacha-capsule
        .gacha-flash {
            border-radius: 50%;
            width: 6%;
            height: auto;
            text-align: center;
            left: 50%;
            bottom: 0px;
            z-index: 200;
            position: absolute;
            animation: flashAnime forwards 2s ease normal;
        }
        .gacha-skin {
            width: 32%;
            height: auto;
            text-align: center;
            left: 50%;
            bottom: 0px;
            z-index: 300;
            position: absolute;
            animation: skinAnime forwards 2s ease normal;
        }
    }//#gacha-main
    
    
    //-----sbutton-----//
    #sbutton {
        margin: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        //gacha-btn.gacha-btn//
        .gacha-btn {
            font-size: 30px;
            line-height: 40px;
            position: relative;
            display: inline-block;
            width: 300px;
            height: 60px;
            padding: 10px;
            transition: all .1s ease-in-out;
            text-align: center;
            text-decoration: none;
            color: #fff;
            background-color: rgb(255, 79, 79);
        }

        .gacha-btn:before,
        .gacha-btn:after {
            position: absolute;
            top: 0;
            width: 0;
            height: 0;
            content: '';
            border: 30px solid transparent;
            border-right: 20px solid transparent;
            border-left: 20px solid transparent;
        }

        .gacha-btn:before {
            right: 100%;
            border-right-color: rgb(255, 79, 79);
        }

        .gacha-btn:after {
            left: 100%;
            border-right-color: rgb(255, 79, 79);
            transform: rotate(180deg);
        }
    }//#sbutton

}//gacha

//==========ゲーム画面==========//
#game {
    #game #game {
        padding: 0;
        margin: 0;

        .canvas {
            background: url(/img/22823124.jpg) no-repeat center center;
            background-attachment: fixed;
            background-size: cover;
            display: block;
            margin: 0 auto;
        }
            
    }
}




//==================アニメーション================//
@keyframes capsuleAnime {
    0% {
        transform: translate(-50%, -80%) rotate(0);
    }
    100% {
        transform: translate(-50%, 0) rotate(720deg) scale(4, 4);
    }
}
@keyframes flashAnime {
    0% {
        transform: translate(-50%, 0);
    }
    100% {
        transform: translate(-100%, -200%) scale(50, 50);
    }
}
@keyframes skinAnime {
    0% {
        transform: translate(-50%, -50%);
    }
    100% {
        transform: translate(-50%, 20%) rotatey(720deg);
    }
}